Data/*
plots/*
.idea
.vscode
.venv
.whl
.whl.zip
.zip
.tar
.pyc
__pycache__/
.ipynb_checkpoints/
.DS_Store
env/
open3d_cpu-0.19.0-cp313-cp313-manylinux_2_35_x86_64.whl
open3d-0.19.0-cp313-cp313-manylinux_2_35_x86_64.whl
open3d-0.19.0-cp313-cp313-manylinux_2_35_x86_64.whl.zip
randomImages

venv3.13-tk
plots_edgar
plots_not_norm
edgar2nuscenes
doNotAddToRepo
